node_modules
node_modules/
dist
dist/
Bluesky_data
Bluesky_data/
ca.psiphon.PsiphonTunnel.tunnel-core
ca.psiphon.PsiphonTunnel.tunnel-core/
venv
venv/
wsl_venv
wsl_venv/
.vscode
qdrant
qdrant/
pycache/
models/
__pycache__/
backend/reddit_dashboard.db
*.db
repomix-output.xml
repomix-output.md
qdrant_storage_native/
app/mnt/
